<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" style="margin-top: -20px" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!-- <img class="first-slide" src="http://www.collegemagazine.com/wp-content/uploads/2015/01/hopkins.jpg" alt="First slide"> -->
          <img class="first-slide" src="https://www.clarkson.edu/_site_support/background_image_banks/images/tour_images/studcnt_4128800003.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>MBA</h1>
              <p>A Master of Business Administration (MBA or M.B.A.) holds a master's degree in business administration . The core courses in an MBA program cover various areas of business such as accounting, finance, marketing, human resources, and operations in a manner most relevant to management analysis and strategy.</p>
              <p><a class="btn btn-lg btn-primary" href="/program/mba" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="https://www.clarkson.edu/_site_support/images/mainBg1.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>MSIS</h1>
              <p>The Master of Science in Information Systems (MSIS) and the Master of Science in Management Information Systems (MSMIS) are specialized master's degree programs usually offered in a university's College of Business and in integrated Information Science & Technology colleges in recent years.</p>
              <p><a class="btn btn-lg btn-primary" href="/program/msis" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://www.clarkson.edu/_site_support/background_image_banks/images/tour_images/101026-clarkson-1394.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>MSBA</h1>
              <p>The mission of the Master of Science in Business Administration (MSBA) Program is to provide high quality business education to those who strive to become leaders in business, government and education.</p>
              <p><a class="btn btn-lg btn-primary" href="/program/msba" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div><!-- /.carousel -->
