<div class="container" style="margin-top: -50px">


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">USNEWS</h2>
          <p class="lead">U.S. News & World Report is a multi-platform publisher of news and information, which includes www.usnews.com and www.rankingsandreviews.com. U.S. News publishes annual print and e-book versions of its authoritative rankings of Best Colleges, Best Graduate Schools and Best Hospitals.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://www.usnews.com/static/img/badge-best-gold.svg" alt="Generic placeholder image">
        </div>
      </div>
</div>

<div class="container">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">QS</h2>
          <p class="lead">QS World University Rankings is an annual publication of university rankings by Quacquarelli Symonds (QS).</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://www.aub.edu.lb/news/2014/PublishingImages/qs-249-in.png" alt="Generic placeholder image">
        </div>
      </div>
</div>

<div class="container">
      <hr class="featurette-divider">

      <div class="row featurette container">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">TFE Times</h2>
          <p class="lead">The world's leading digital media site.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://www.nitrosystem.net/wp-content/uploads/2016/10/TFE-Times.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
