<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <% include partials/content/checkbox.ejs %>
    <img style="margin:0 auto;" class="img-responsive" src="http://ukiec.com/working-on%20it.jpg" alt="emptydata">
</div>


    <% include partials/template/footer.ejs %>

    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
