<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>

    <% include partials/content/carousel.ejs %>
    
    <% include partials/content/subscribe.ejs %>

    <% include partials/content/introduction.ejs %>

    <% include partials/template/footer.ejs %>

    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
